<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>{{name}}</p>
    <img class="portrait" src="/img/moua.jpg" alt="moua">
</div>
{{>footer}}
</body>
</html>
